       *{
            margin: 0;
            padding: 0;
        }
        .fixed{
            display: fixed;
        }
        nav{
            width: 100%;
            height: 60px; 
        }
        nav img{
            padding: 10px;
        }
        nav ul{
            
            float: right;
            width: 830px;
        }
        nav ul li{
            display: inline-block;
            letter-spacing: 1;
            margin: 22px 20px;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
        }
        nav ul li a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        .fa-bars{
            display: none;
        }
        section{
            width: 100%;
            background: rgb(247, 236, 236);
            display: flex;
            flex-direction: wrap;
        }
        footer{
           display: flex;
           background: #000000;
        }
        .image{
            overflow: hidden;
            position: relative;
            width: 25%;
            height: 250px;
            border: 3px solid black;
        }
        p{
            font-family: 'Roboto Mono', monospace;
        }
        .image img{
            width: 100%;
            transition: 0.60s;
            height: 250px;
        }
        .image:hover img{
            transform: scale(1.2);
        }
        header{
            background-image: url('../img/rio.jpg');
            background-size: cover;
            width: 100%;
            height: 600px;
        }
        #dark{
            width: 100%;
            height: 600px; 
            background: #0000008c;
        }
        .txt{
            overflow: hidden;
            position: relative;
            top: 200px;
            width: 700px;
            float: left;
            padding: 10px;
            margin-left: 20px;
        }
        .txt h1{
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
            color: rgb(214, 214, 214);
            animation-duration: 3s;
            animation-name: run;
        }
        @keyframes run{
          from{
             margin-left: 100%;   
              }
          to{
            margin-left: 0%;
             }     
        }
        .txt p{
            color: rgb(214, 214, 214); 
        }
        .txt button{
            border: 2px solid black;
            width: 100px;
            height: 40px;
            margin-top: 10px;
            background: #54a4d99e;
            color: white;
            font-size: 15px;
        }
        .txt button:hover{
            background-color: rgb(0, 0, 0);
        }
        .social{
            width:100%;
            background-color: #fafafa;
            float: right;
        }
        .social .fab{
            font-size: 20px;
            padding: 5px;
            margin-right: 20px;
            float: right;
        }
        .social .fab:hover{
            color: red;
        }
        footer p{
            color: white;
            padding: 20px;
        }
        footer img{
            padding: 10px;
        }
        .trocou{
            display: block;
        }
        .txt_1, .txt_2, .txt_3, .txt_4{
            position: absolute;
            background: #00000054;
            width: 100%;
            height: 100%;
        }
        nav ul li a button{
            font-size: 25px;
            padding: 4px;
            background: #f8f8f828;
            color: white;
            border: 2px solid white;
        }
        @media screen and (max-width: 1100px){
            .image{
                height: 200px;
            }
            .image img{
                height: 200px;
            }
            .fa-bars{
            display: block;
            font-size: 40px;
            padding: 15px;
            color: white;
            float: right;
            }
            nav ul{
            display: none;
            }
            .social{
                display: none;
            }
        }
        @media screen and (max-width: 610px){
            header{
                height: 800px;
            }
            section{
                flex-direction: column;
            }
            footer{
                flex-direction: column;
            }
            .image{
                width: 100%;
                height: 300px;
                border: 0px solid black;
            }
            .image img{
                width: 100%;
                height: 300px;
            }
            .txt{
             width: 280px;
            }
            .txt p{
            font-size: 13px;   
            }
            #dark{
            height: 800px;
            }
            footer p{
            font-size: 13px; 
            }
        }
